header {
  background-color: var(--orange-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: var(--basic-shadow);
  gap: 25px;
  padding: 12px 35px;
  align-self: stretch;
}

nav {
  display: flex;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
}
header img {
  width: 25px;
}

nav .cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.09);
  transition: background-color 0.15s ease-in;
  position: relative;
}

nav .cart-icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 40px;
  font-weight: 700;
}

.items-count {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  font-size: 0.8em;
  font-weight: 500;
  color: var(--dark-orange-color);
  width: 1.4em;
  height: 1.4em;
  z-index: 2;
  text-align: center;
  border: 3px solid var(--orange-color);
  top: -5px;
  right: -10px;
}

nav li:last-of-type {
  display: flex;
  align-items: center;
}

.items-cost {
  margin-left: 20px;
  font-weight: 500;
}

nav li {
  position: relative;
  margin: 0 15px;
}

nav li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  margin-bottom: -10px;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
}

nav li:not(:last-of-type):hover::after {
  width: 100%;
  left: 0;
}
