.product-card {
  border: 1px solid var(--light-grey);
  background-color: white;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  transition: transform 0.2s ease-in;
  max-width: 300px;
}

.product-card:hover {
  transform: translateY(-2px);
}

.product-card a {
  align-self: center;
  cursor: pointer;
}

.card-image {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
}
.product-card h2 {
  max-width: 100%;
  text-wrap: wrap;
  padding-top: 12px;
}
.product-card p {
  max-width: 100%;
  font-size: 0.9em;
  padding-top: 8px;
  text-wrap: wrap;
}
.empty-div {
  min-height: 20px;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.product-card .price {
  align-self: end;
  font-weight: 700;
  color: var(--orange-color);
  padding: 15px 0;
}

.add-to-cart-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background: var(--orange-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.add-to-cart-button:hover {
  background: var(--orange-color);
  transform: scale(1.03);
  opacity: 0.9;
}

.add-to-cart-button:active {
  transform: scale(0.97);
  background: var(--orange-color);
  opacity: 0.9;
}

.add-to-cart-button img {
  width: 20px;
}
